/* background color: #171515 */
html {
    scroll-behavior: smooth;
    transition: .7s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Martian mono', sans-serif;
    background-color: #171515;
}

p {
    font-family: 'Martian mono', sans-serif;
}

ul {
    list-style: none;
    font-size: 0.8rem;
}

.nav_list span {
    font-family: 'Martian mono', sans-serif;
    color: #fc7066;
    transition: .7s;
}

.nav_link {
    font-size: 15px;
    color: #dc625a;
}

a {
    text-decoration: none;
    color: bisque;
}

strong {
    font-weight: 600;
}

/* ----------------===NAV===---------------------- */
i:hover {
    color: bisque;
    transition: .7s;
}

ul span:hover {
    color: bisque;
}

.container {
    max-width: 1024px;
}

@media screen and (max-width: 450px) {
    .nav_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        font-size: 1em;
    }

    ul span {
        display: none;

    }

    .nav_menu {
        position: fixed;
        bottom: 0;
        border-radius: .7rem;
        left: 0;
        right: 0;
        background-color: #202023;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1.1rem;
        box-shadow: 0 20px 10px rgb(16, 14, 14);
        overflow: hidden;
        z-index: 1;
    }

    .logo_images {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }

    .logo_main {
        position: absolute;
        display: inline-flex;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
        padding-top: 40px;
    }

}

.scroll-header {
    background-color: #202023;
    box-shadow: 0 20px 10px rgb(16, 14, 14);
}

.button {
    display: none;
}


/*----------------===LOGO===---------------------- */

img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    /* position: relative; */
}

.logo_wrap {
    width: 280px;
    height: 280px;
    background: linear-gradient(180deg,
            #351b18 20%,
            #2b1b19e7 70%);
    border-radius: 50%;
    box-shadow: 0 0 24px #1b171446;
}

/* ---------------===HOME===---------------------- */
.home {
    background: linear-gradient(180deg,
            #261715 0%,
            #171515 100%);
    padding-bottom: 0;
}

.home_title {
    position: relative;
    top: 2rem;
    margin-left: 48px;
}

.the {
    color: #feffc3;
}

.argo {
    color: #fea274;
}

.three {
    color: #fc7066;
}

.home_description {
    position: relative;
    display: grid;
    top: 0rem;
    margin-left: 48px;
    font-weight: 300;
    color: #642c28dd;
    overflow: hidden;
}

.moderator {
    position: relative;
    top: 4.3rem;
    width: 17rem auto;
    font-size: .65rem;
    font-weight: 300;
    margin-top: 0;
}

.about_us {
    position: relative;
    top: 6.5rem;
    color: #833d38;
    margin-right: 45px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 12rem;
}

.videos {
    position: relative;
    display: grid;
    justify-content: center;
}

.vid_link {
    margin-bottom: 2rem;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 10px 10px #130b0a;
    transition: .7s;
}

iframe:hover {
    box-shadow: 0 0 30px #833d38;
}

.vid_title {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
    color: #ce5c54;
}

.more {
    position: relative;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
    font-size: 12px;
    color: #833d38;
    transition: .7s;
}

.more:hover {
    color: bisque;
}

/* ---------------===MODS===------------------- */

.mod_title {
    text-align: center;
    color: #ce5c54;
    font-weight: 600;
    margin-bottom: 3rem;
}

.card_profile_list {
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
}

.card_container {
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 200px;
    height: 230px;
    background: linear-gradient(180deg,
            #3e1e1a 20%,
            #1e1615 90%);
    box-shadow: 0 5px 24px rgb(26, 19, 19);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 6rem;
}

.profile_img {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-top: 2.5px;
    margin-bottom: 1rem;
}

.card_border {
    display: inline-block;
    place-items: center;
    margin-top: 1rem;
    border-width: 2.5px;
    border-radius: 50%;
    color: #fea274;
    width: 90px;
    height: 90px;
    border-style: solid;
}

.pfp_name {
    margin-bottom: 5px;
    color: #feffc3;
    font-weight: 400;
    font-size: 15px;
}

.pfp_info {
    font-size: 10px;
    font-weight: 100;
    color: #833d38;
    margin-bottom: 7px;
}

.card_social-list {
    width: 150px;
    border-radius: 3rem;
    background-color: #c77f5b;
    padding: .75rem;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.75rem;
    box-shadow: 0 8px 24px #2f1e16;
}

.social_link {
    color: #171515;
    font-size: 19px;
}