* {
  margin: 0;
  padding: 0;
}

/* ================================variables============================= */
/* alts are darker
negs are lighter */
:root {
  --body-color: #181110;
  --nav-color: #110c0c;
  --body-color-alt: #171515;
  --lightest-color: #ffe4c4;
  /* main title, hover, pfp_name */
  --lightest-color-alt: #fea274;
  /* main title*/
  --lightest-color-alt-2: #c77f5b;
  --first-color: #fc7066;
  /* main title, vid_title,  */
  --first-color-alt: #b95851;
  /* about us, explore more, pfp info */
  --first-color-alt-2: #8e3f39dd;
  /* using with mod descriptioon */
}

html {
  scroll-behavior: smooth;
  transition: 0.7s;
  font-family: "Martian mono", sans-serif;
}

body {
  padding-top: 3rem;
  background: linear-gradient(180deg, #261715 1%, #171515 30%);
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.home-container {
  background: linear-gradient(180deg, #261715 10%, #171515 90%);
  padding-bottom: 0;
  display: grid;
}

.grid {
  display: grid;
}

/* ==============================logo===================================== */
.logo_img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 14.5px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.logo_wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 280px;
  background: linear-gradient(180deg, #351b18 20%, #2b1b19 70%);
  border-radius: 50%;
  box-shadow: 0 0 24px rgba(27, 23, 20, 0.2745098039);
}

.logo {
  margin-bottom: 3rem;
}

/* =============================navigation=============================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .nav_menu {
    width: 60%;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    border-radius: 2rem;
    background-color: var(--nav-color);
    box-shadow: 0 6px 24px rgba(21, 19, 19, 0.7843137255);
    padding: 1.3rem 2rem;
    margin: 0 auto;
    position: fixed;
    transition: 0.4s;
  }
  .nav_list {
    display: flex;
    justify-content: space-between;
  }
  .nav_link {
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--first-color);
    transition: 0.5s;
  }
  .nav_link:hover {
    color: var(--lightest-color);
  }
  .nav_link span {
    display: none;
  }
}
.active_link {
  background-color: var(--lightest-color-alt);
}

.nav_button {
  display: none;
}

/* ==========================home============================== */
.home_title {
  transition: 1s;
  margin-left: 3rem;
  margin-bottom: 3rem;
  font-size: 25px;
}

.the {
  color: var(--lightest-color);
}

.argo {
  color: var(--lightest-color-alt);
}

.three {
  color: var(--first-color);
}

.home_description {
  width: 330px auto;
  padding: 0rem 3rem 3rem 3rem;
  margin-bottom: 7rem;
}

.moderator {
  display: block;
  font-size: 0.65rem;
  font-weight: 300;
  width: 17rem auto;
  justify-content: center;
  color: var(--first-color-alt-2);
  margin-bottom: 2rem;
  text-shadow: 0 2px 10px #5c2d2b;
}

.about_us {
  font-size: 0.75rem;
  color: var(--first-color-alt);
  text-align: left;
  text-shadow: 0 2px 5px #5c2d2b;
}

/* ==========================videos============================= */
.video_container {
  padding: 3rem;
}

.vid_title {
  color: var(--first-color);
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-shadow: 0 2px 20px #703735;
}

.videos {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  margin-bottom: 1.5rem;
}

iframe {
  width: 290px;
  border-radius: 1rem;
  box-shadow: 0 8px 20px #0a0909;
  transition: 0.7s;
}

iframe:hover {
  box-shadow: 0 2px 20px #833d38;
}

.more {
  color: var(--first-color-alt);
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 11rem;
  transition: 0.7s;
}

.more:hover {
  color: var(--lightest-color-alt);
}

/* =========================MOD-CARD============================ */
.mod_title {
  padding-top: 3rem;
  color: var(--first-color);
  text-align: center;
  font-weight: 500;
  text-shadow: 0 2px 20px #5c2d2b;
  margin-bottom: 2rem;
}

.card_profile {
  display: grid;
  padding: 3rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card_profile .card_container {
  position: relative;
  margin: 0 auto;
  width: 170px;
  height: 200px;
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(170deg, rgba(21, 19, 19, 0.7843137255) 5%, #1f100e 70%);
  box-shadow: 0 0 10px #0a0909;
  margin-bottom: 4rem;
}
.card_profile .card_container .card_border {
  position: relative;
  width: 79px;
  height: 79px;
  margin: 0 auto;
  border: var(--lightest-color-alt);
  border-style: solid;
  border-radius: 50%;
}
.card_profile .card_container .card_border .profile_img {
  left: 0;
  right: 0;
  top: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.card_profile .card_container .pfp_name {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 12px;
  color: var(--lightest-color);
}
.card_profile .card_container .pfp_info {
  text-align: center;
  font-weight: 300;
  font-size: 10px;
  color: var(--first-color-alt-2);
}
.card_profile .card_container .card_social-list {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 60%;
  bottom: -15px;
  display: flex;
  gap: 0.5rem;
  background-color: var(--lightest-color-alt);
  padding: 1rem;
  border-radius: 2rem;
}
.card_profile .card_container .card_social-list .social_link {
  margin: 0 auto;
  color: #171515;
  font-size: 19px;
  transition: 0.7s;
  cursor: pointer;
}
.card_profile .card_container .card_social-list .social_link:hover {
  color: var(--lightest-color);
}

@media screen and (min-width: 960px) and (max-width: 1600px) {
  .home-container {
    padding-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .logo {
    padding-top: 3rem;
  }
  .videos {
    grid-template-columns: repeat(2, 290px);
  }
  .nav {
    padding: 1rem;
  }
  .nav_menu {
    margin-left: auto;
    width: 45%;
  }
  .nav_list {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    justify-content: space-between;
  }
  .nav_link {
    color: var(--lightest-color-alt);
    padding: 5px;
    border-radius: 2.5rem;
    font-size: 12px;
  }
  .nav_link i {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .videos {
    grid-template-columns: repeat(1, 290px);
  }
}/*# sourceMappingURL=style1.css.map */